/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 29, 2015, 1:47:00 PM
    Author     : dwadekar
*/
.jumbotron { 
    background-color: #2d2d30; /* Darker blue */
    color: #ffffff;
    padding: 100px 25px;
}

.navbar {
    margin-bottom: 0;
    background-color: #2d2d30;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
}

.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #f4511e !important;
    background-color: #fff;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}

.bg-grey {
    background-color: #f6f6f6;
}

.container-fluid {
    padding: 60px 50px;
}

.logo {
    color: #ff4d4d;
    font-size: 200px;
}

.logo-small {
    color: #ff4d4d;
    font-size: 50px;
}

.carousel-control.right, .carousel-control.left {
    background-image: none;
    color: #2d2d30;
}

.carousel-indicators li {
    border-color: #2d2d30;
}

.carousel-indicators li.active {
    background-color: #2d2d30;
}

.item h4 {
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    font-style: italic;
    margin: 70px 0;
}

.item span {
    font-style: normal;
}

@media screen and (max-width: 768px) {
    .col-sm-4 {
        text-align: center;
        margin: 25px 0;
    }
}

.panel {
    border: 1px solid #2d2d30; 
    border-radius:0;
    transition: box-shadow 0.5s;
}

.panel:hover {
    box-shadow: 5px 0px 40px rgba(0,0,0, .2);
}

.panel-heading {
    color: #fff !important;
    background-color: #2d2d30 !important;
    padding: 25px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: #2d2d30;
}

footer {
    background-color: #555;
    color: white;
    padding: 15px;
}