<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns="http://www.w3.org/1999/xhtml"
                template="./../WEB-INF/templates/adminTemplate.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://xmlns.jcp.org/jsf/passthrough">

    <ui:define name="title">
        Create User Login
    </ui:define>

    <ui:define name="content">
        <h:form class="form-horizontal">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#home"><b>Employee Profile Information</b></a></li>
            </ul>
            <br></br>
            <div class="tab-content">
                <div id="home" class="tab-pane fade in active">
                    <div class="row test">
                        <h:panelGroup class="form-group" layout="block">
                            <h:outputLabel styleClass="control-label col-sm-2 text-left" for="username" value="Username " ><span style="color: red;">* </span>:</h:outputLabel>
                            <div class="col-sm-10">
                                <h:inputText class="form-control" id="username" value="#{adminController.user.userName}" required="true" requiredMessage="Please enter username" p:placeholder="Enter Username" />
                                <h:message for="username" style="color: red"/>
                            </div>
                        </h:panelGroup>
                        <h:panelGroup class="form-group" layout="block">
                            <h:outputLabel styleClass="control-label col-sm-2 text-left" for="fullName" value="Full Name "><span style="color: red;">* </span>:</h:outputLabel>
                            <div class="col-sm-10">
                                <h:inputText class="form-control" id="fullName" value="#{adminController.user.nameOfUser}" required="true" requiredMessage="Please enter full name of user" p:placeholder="Enter full name of user" />
                                <h:message for="fullName" style="color: red"/>
                            </div>
                        </h:panelGroup>
                        <h:panelGroup class="form-group" layout="block">
                            <h:outputLabel styleClass="control-label col-sm-2 text-left" for="emailAddress" value="Email Address "><span style="color: red;">* </span>:</h:outputLabel>
                            <div class="col-sm-10">
                                <h:inputText class="form-control" id="emailAddress" value="#{adminController.user.emailID}" required="true" requiredMessage="Please enter Email Address" validatorMessage="Invalid Email Format" p:placeholder="Enter Email Address" >
                                    <f:validateRegex pattern="^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$" />
                                </h:inputText>
                                <h:message for="emailAddress" style="color: red"/>
                            </div>
                        </h:panelGroup>
                    </div>
                </div>
            </div>
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#group"><b>Group Information</b></a></li>
            </ul>
            <br></br>
            <div class="tab-content">
                <div id="group" class="tab-pane fade in active">
                    <div class="row test">
                        <h:outputLabel styleClass="control-label col-sm-2 text-left" for="groupName" value="Group Name "><span style="color: red;">* </span>:</h:outputLabel>
                        <div class="col-sm-10">
                            <h:selectOneMenu class="form-control" id="groupName" value="#{adminController.group.groupName}" required="true" requiredMessage="Please select group of user">
                                <f:selectItems value="#{adminController.groupList}" var="grp" itemValue="#{grp.groupName}" itemLabel="#{grp.groupName}"/>
                            </h:selectOneMenu>
                            <h:message for="groupName" style="color: red"/>
                        </div>
                    </div>
                </div>
            </div>
            <br></br>
            <h:panelGroup style="display:block; text-align:center">
                <h:commandButton styleClass="btn btn-primary" action="#{adminController.executeCreateUser()}" value="Create" />
                &nbsp;&nbsp;&nbsp;
                <h:commandButton styleClass="btn btn-primary" type="reset" value="Reset" />
            </h:panelGroup>
        </h:form>
    </ui:define>

</ui:composition>
