<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns="http://www.w3.org/1999/xhtml"
                template="./../WEB-INF/templates/adminTemplate.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://xmlns.jcp.org/jsf/passthrough">

    <ui:define name="title">
        Edit Administrator Login Profile
    </ui:define>

    <ui:define name="content">
        <h:form class="form-horizontal">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#home"><b>Administrator Login Information</b></a></li>
            </ul>
            <div class="tab-content">
                <div id="home" class="tab-pane fade in active">
                    <h:panelGroup class="form-group" layout="block">
                        <h:outputLabel styleClass="control-label col-sm-2 text-left" for="adminRefID" value="Admin Reference ID :" />
                        <h:outputText styleClass="col-sm-2 text-left" value="#{adminController.adminUser.id}"/>
                        <h:inputHidden id="adminRefID" value="#{adminController.adminUser.id}" />
                    </h:panelGroup>
                    <h:panelGroup class="form-group" layout="block">
                        <h:outputLabel styleClass="control-label col-sm-2 text-left" for="adminUserName" value="Admin User Name :"/>
                        <h:outputText styleClass="col-sm-2 text-left" value="#{adminController.user.userName}"/>
                        <h:inputHidden id="adminUserName" value="#{adminController.user.userName}" />
                    </h:panelGroup>
                    <h:panelGroup class="form-group" layout="block">
                        <h:outputLabel styleClass="control-label col-sm-2 text-left" for="adminName" value="Customer Name "><span style="color: red;">* </span>:</h:outputLabel>
                        <div class="col-sm-10">
                            <h:inputText class="form-control" id="adminName" value="#{adminController.user.nameOfUser}" required="true" requiredMessage="Please enter full name of user" p:placeholder="Enter full name of user" />
                            <h:message for="adminName" style="color: red"/>
                        </div>
                    </h:panelGroup>
                    <h:panelGroup class="form-group" layout="block">
                        <h:outputLabel styleClass="control-label col-sm-2 text-left" for="emailID" value="Email Address "><span style="color: red;">* </span>:</h:outputLabel>
                        <div class="col-sm-10">
                            <h:inputText class="form-control" id="emailID" value="#{adminController.user.emailID}" required="true" requiredMessage="Please enter Email Address" validatorMessage="Invalid Email Format" p:placeholder="Enter Email Address" >
                                <f:validateRegex pattern="^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$" />
                            </h:inputText>
                            <h:message for="emailID" style="color: red"/>
                        </div>
                    </h:panelGroup>
                </div>
            </div>
            <h:panelGroup style="display:block; text-align:center">
                <h:commandButton styleClass="btn btn-primary" action="#{adminController.executeUpdateAdmin()}" value="Update" />
                &nbsp;&nbsp;&nbsp;
                <h:commandButton styleClass="btn btn-primary" type="reset" value="Reset" />
            </h:panelGroup>
        </h:form>
    </ui:define>

</ui:composition>
