<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./../WEB-INF/templates/adminTemplate.xhtml">

    <ui:define name="title">
        Successful Updation of Customer Profile
    </ui:define>

    <ui:define name="content">
        The Customer Profile has been successfully updated.
    </ui:define>

</ui:composition>
