<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns="http://www.w3.org/1999/xhtml"
                template="./../WEB-INF/templates/adminTemplate.xhtml"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html">

    <ui:define name="title">
        Employee's Login Information
    </ui:define>

    <ui:define name="content">
        <h:dataTable class="table table-hover table-striped" value="#{adminController.employeeList}" var="employee">
            <h:column>
                <f:facet name="header"><h:outputText value="Employee Reference ID"/></f:facet>
                <h:outputText value="#{employee.id}"></h:outputText>
            </h:column>
            <h:column>
                <f:facet name="header"><h:outputText value="Employee User Name"/></f:facet>
                <h:outputText value="#{employee.user.userName}"/>
            </h:column>
            <h:column>
                <f:facet name="header"><h:outputText value="Date of Creation"/></f:facet>
                <h:outputText value="#{employee.creationDate}"><f:convertDateTime type="date"/></h:outputText>
            </h:column>
            <h:column>
                <h:form><h:commandLink action="#{adminController.doShowEmployee(employee)}" value="Show"/></h:form>
            </h:column>
            <h:column>
                <h:form><h:commandLink action="#{adminController.doUpdateEmployee(employee)}" value="Update"/></h:form>
            </h:column>
            <h:column>
                <h:form><h:commandLink action="#{adminController.doDeleteEmployee(employee)}" value="Delete"/></h:form>
            </h:column>
        </h:dataTable>
    </ui:define>

</ui:composition>
