<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns="http://www.w3.org/1999/xhtml"
                template="./../WEB-INF/templates/adminTemplate.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="title">
        View Customer Login Information
    </ui:define>

    <ui:define name="content">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#home"><b>Customer Login Information</b></a></li>
        </ul>
        <div class="tab-content">
            <div id="home" class="tab-pane fade in active">
                <div class="row test">
                    <div class="col-md-4">
                        <p>Customer Reference ID</p>
                        <p>Customer Username</p>
                        <p>Customer Name</p>
                        <p>Email Address</p>
                        <p>Date of Creation</p>
                    </div>
                    <div class="col-md-4">
                        <p><h:outputText value="#{adminController.customer.id}"/></p>
                        <p><h:outputText value="#{adminController.customer.user.userName}"/></p>
                        <p><h:outputText value="#{adminController.customer.user.nameOfUser}"/></p>
                        <p><h:outputText value="#{adminController.customer.user.emailID}"/></p>
                        <p><h:outputText value="#{adminController.customer.creationDate}"><f:convertDateTime type="date"/></h:outputText></p>
                    </div>
                </div>
            </div>
        </div>
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#custGrp"><b>Customer Group Information</b></a></li>
        </ul>
        <div class="tab-content">
            <div id="custGrp" class="tab-pane fade in active">
                <div class="row test">
                    <h:dataTable class="table table-hover table-striped" value="#{adminController.customer.user.userGroups}" var="group">
                        <h:column>
                            <f:facet name="header"><h:outputText value="Group Name"/></f:facet>
                            <h:outputText value="#{group.groupName}"></h:outputText>
                        </h:column>
                        <h:column>
                            <f:facet name="header"><h:outputText value="Group Name"/></f:facet>
                            <h:outputText value="#{group.groupDescription}"></h:outputText>
                        </h:column>
                    </h:dataTable>
                </div>
            </div>
        </div>
    </ui:define>

</ui:composition>
