<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title><ui:insert name="title">Default title</ui:insert></title>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <h:outputStylesheet library="css" name="starter-template.css"/>
    </h:head>
    <h:body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>                        
                    </button>
                    <a class="navbar-brand" href="#">NBG</a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <h:form>
                        <ul class="nav navbar-nav">
                            <li class="active">
                                <h:link outcome="welcome" value="Home"/>
                            </li>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <h:commandLink style="margin-top: 10px;margin-left: 10px;" action="#{loginController.doLogout()}" value="Logout (#{loginController.remoteUser})"><span class="glyphicon glyphicon-log-out"></span></h:commandLink>
                            </li>
                        </ul>
                    </h:form>
                </div>
            </div>
        </nav>

        <div class="container-fluid text-center">
            <div class="row content">
                <div class="col-sm-3 col-sm-2 sidebar sidenav">
                    <h:form>
                        <ul class="nav nav-sidebar">
                            <li class="active"><h:link outcome="viewCustomers.xhtml" value="View Customers"/></li>
                            <li><h:link outcome="createCustomer.xhtml" value="Create Customer"/></li>
                            <li><h:link outcome="viewAccounts.xhtml" value="View Accounts of Customer's"/></li>
                            <li><h:link outcome="createAccount.xhtml" value="Create Account for Customer's"/></li>
                            <li><h:link outcome="viewAssignedCustomers.xhtml" value="View Assigned Customers"/></li>
                        </ul>
                    </h:form>
                    <!--p><h:link outcome="viewCustomers.xhtml" value="View Customers"/></p>
                    <p><h:link outcome="createCustomer.xhtml" value="Create Customer"/></p>
                    <p><h:link outcome="viewAccounts.xhtml" value="View Accounts of Customer's"/></p>
                    <p><h:link outcome="createAccount.xhtml" value="Create Account for Customer's"/></p>
                    <p><h:link outcome="viewAssignedCustomers.xhtml" value="View Assigned Customers"/></p-->
                    <!--p><a href="#">Perform Transaction</a></p-->
                </div>
                <div class="col-sm-8 text-left">
                    <h:panelGroup layout="block" class="container">
                        <h:panelGroup layout="block" 
                                      class="alert alert-warning alert-dismissible"
                                      rendered="#{not facesContext.validationFailed and not empty facesContext.messageList}">
                            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <h:messages showDetail="false" globalOnly="true" showSummary="true"/>
                        </h:panelGroup>
                        <h3 class="text-center"><ui:insert name="title">Default title</ui:insert></h3>
                        <h:messages showDetail="true" errorStyle="color: red" warnStyle="color: orange"
                                    infoStyle="color: blue" globalOnly="true" showSummary="true"/>
                        <ui:insert name="content">Default content</ui:insert>
                    </h:panelGroup>
                </div>
            </div>
        </div>
        <footer class="container-fluid text-center">
            <p>&copy; Copyrights Reserved Dhananjay</p>
        </footer>
    </h:body>
</html>

