<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns="http://www.w3.org/1999/xhtml"
                template="./../WEB-INF/templates/employeeTemplate.xhtml"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html">

    <ui:define name="title">
        Create Account
    </ui:define>

    <ui:define name="content">
        <h:dataTable class="table table-hover table-striped" value="#{employeeController.customersList}" var="customer">
            <h:column>
                <f:facet name="header"><h:outputText value="Customer ID"/></f:facet>
                <h:outputText value="#{customer.id}"></h:outputText>
            </h:column>
            <h:column>
                <f:facet name="header"><h:outputText value="Customer Name"/></f:facet>
                <h:outputText value="#{customer.title}"/><h:outputText value=" "/>
                <h:outputText value="#{customer.firstName}"/><h:outputText value=" "/>
                <h:outputText value="#{customer.lastName}"/>
            </h:column>
            <h:column>
                <h:form><h:commandLink action="#{employeeController.doCreateAccount(customer)}" value="Create Account"/></h:form>
            </h:column>
        </h:dataTable>
    </ui:define>

</ui:composition>
