<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns="http://www.w3.org/1999/xhtml"
                template="./../WEB-INF/templates/employeeTemplate.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:b="http://bootsfaces.net/ui"
                xmlns:p="http://xmlns.jcp.org/jsf/passthrough">

    <ui:define name="title">
        Create Customer
    </ui:define>

    <ui:define name="content">
        <h:form>
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#home"><b>Customer Information</b></a></li>
            </ul>
            <div class="tab-content">
                <div id="home" class="tab-pane fade in active">
                    <div class="row test">
                        <h:panelGroup styleClass="col-md-4 form-group" layout="block">
                            <h:outputLabel for="customerTitle" value="Title "><span style="color: red;">* </span>:</h:outputLabel>
                            <h:selectOneMenu class="form-control" id="customerTitle" value="#{employeeController.custInfo.title}" required="true" requiredMessage="Please enter Title of customer">
                                <f:selectItem itemValue="Mr." itemLabel="Mr."/>
                                <f:selectItem itemValue="Mrs." itemLabel="Mrs."/>
                                <f:selectItem itemValue="Miss." itemLabel="Miss."/>
                            </h:selectOneMenu>
                            <h:message for="customerTitle" style="color: red"/>
                        </h:panelGroup>
                        <h:panelGroup styleClass="col-md-4 form-group" layout="block">
                            <h:outputLabel for="firstName" value="First Name "><span style="color: red;">* </span>:</h:outputLabel>
                            <h:inputText class="form-control" id="firstName" value="#{employeeController.custInfo.firstName}" required="true" requiredMessage="Please enter First Name of customer" p:placeholder="First Name" />
                            <h:message for="firstName" style="color: red"/>
                        </h:panelGroup>
                        <h:panelGroup styleClass="col-md-4 form-group" layout="block">
                            <h:outputLabel for="middleName" value="Middle Name : "/>
                            <h:inputText class="form-control" id="middleName" value="#{employeeController.custInfo.middleName}" p:placeholder="Middle Name"/>
                            <h:message for="middleName" style="color: red"/>
                        </h:panelGroup>
                        <h:panelGroup styleClass="col-md-4 form-group" layout="block">
                            <h:outputLabel for="lastName" value="Last Name "><span style="color: red;">* </span>:</h:outputLabel>
                            <h:inputText class="form-control" id="lastName" value="#{employeeController.custInfo.lastName}" required="true" requiredMessage="Please enter Last Name of customer" p:placeholder="Last Name" />
                            <h:message for="lastName" style="color: red"/>
                        </h:panelGroup>
                        <h:panelGroup styleClass="col-md-4 form-group" layout="block">
                            <h:outputLabel for="relationType" value="Relationship Type "><span style="color: red;">* </span>:</h:outputLabel>
                            <h:selectOneMenu class="form-control" id="relationType" value="#{employeeController.custInfo.relationShipType}" required="true" requiredMessage="Please select Relationship Type of customer" >
                                <f:selectItem itemValue="Personal Account" itemLabel="Personal Account"/>
                                <f:selectItem itemValue="Non-Personal Account" itemLabel="Non-Personal Account"/>
                            </h:selectOneMenu>
                            <h:message for="relationType" style="color: red"/>
                        </h:panelGroup>
                        <h:panelGroup styleClass="col-md-4 form-group" layout="block">
                            <h:outputLabel for="branchId" value="Home Branch ID "><span style="color: red;">* </span>:</h:outputLabel>
                            <h:inputText class="form-control" id="branchId" value="#{employeeController.custInfo.branchId}" required="true" requiredMessage="Please enter Branch ID of customer" p:placeholder="Branch ID" />
                            <h:message for="branchId" style="color: red"/>
                        </h:panelGroup>
                        <h:panelGroup styleClass="col-md-4 form-group" layout="block">
                            <h:outputLabel for="birthDate" value="Date of Birth "><span style="color: red;">* </span>: (MM/DD/YYYY)</h:outputLabel>
                            <b:datepicker mode="popup-icon" class="form-control" id="birthDate" value="#{employeeController.custInfo.dateOfBirth}"/> 
                            <h:message for="birthDate" style="color: red"/>
                        </h:panelGroup>
                    </div>
                </div>
            </div>
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#custInfo"><b>Customer Information</b></a></li>
            </ul>
            <div class="tab-content">
                <div id="home" class="tab-pane fade in active">
                    <div class="row test">
                        <h:panelGroup styleClass="col-md-4 form-group" layout="block">
                            <h:outputLabel for="houseNo" value="House No "><span style="color: red;">* </span>:</h:outputLabel>
                            <h:inputText class="form-control" id="houseNo" value="#{employeeController.addressInfo.houseNo}" required="true" requiredMessage="Please enter House number of customer" p:placeholder="House Number" />
                            <h:message for="houseNo" style="color: red"/>
                        </h:panelGroup>
                        <h:panelGroup styleClass="col-md-4 form-group" layout="block">
                            <h:outputLabel for="houseName" value="House Name "><span style="color: red;">* </span>:</h:outputLabel>
                            <h:inputText class="form-control" id="houseName" value="#{employeeController.addressInfo.houseName}" required="true" requiredMessage="Please enter House name of customer" p:placeholder="House Name" />
                            <h:message for="houseName" style="color: red"/>
                        </h:panelGroup>
                        <h:panelGroup styleClass="col-md-4 form-group" layout="block">
                            <h:outputLabel for="buildingNo" value="Building No "><span style="color: red;">* </span>:</h:outputLabel>
                            <h:inputText class="form-control" id="buildingNo" value="#{employeeController.addressInfo.buildingNo}" required="true" requiredMessage="Please enter Building number of customer" p:placeholder="Building Number" />
                            <h:message for="buildingNo" style="color: red"/>
                        </h:panelGroup>
                        <h:panelGroup styleClass="col-md-4 form-group" layout="block">
                            <h:outputLabel for="streetName" value="Street Name "><span style="color: red;">* </span>:</h:outputLabel>
                            <h:inputText class="form-control" id="streetName" value="#{employeeController.addressInfo.streetName}" required="true" requiredMessage="Please enter Street name of customer" p:placeholder="Street Name" />
                            <h:message for="streetName" style="color: red"/>
                        </h:panelGroup>
                        <h:panelGroup styleClass="col-md-4 form-group" layout="block">
                            <h:outputLabel for="cityName" value="City Name "><span style="color: red;">* </span>:</h:outputLabel>
                            <h:inputText class="form-control" id="cityName" value="#{employeeController.addressInfo.cityName}" required="true" requiredMessage="Please enter City Name of customer" p:placeholder="City Name" />
                            <h:message for="cityName" style="color: red"/>
                        </h:panelGroup>
                        <h:panelGroup styleClass="col-md-4 form-group" layout="block">
                            <h:outputLabel for="townName" value="Town Name "><span style="color: red;">* </span>:</h:outputLabel>
                            <h:inputText class="form-control" id="townName" value="#{employeeController.addressInfo.townName}" required="true" requiredMessage="Please enter Town name of customer" p:placeholder="Town Name" />
                            <h:message for="townName" style="color: red"/>
                        </h:panelGroup>
                        <h:panelGroup styleClass="col-md-4 form-group" layout="block">
                            <h:outputLabel for="countryName" value="Country Name "><span style="color: red;">* </span>:</h:outputLabel>
                            <h:inputText class="form-control" id="countryName" value="#{employeeController.addressInfo.countryName}" required="true" requiredMessage="Please enter Country name of customer" p:placeholder="Country Name" />
                            <h:message for="countryName" style="color: red"/>
                        </h:panelGroup>
                        <h:panelGroup styleClass="col-md-4 form-group" layout="block">
                            <h:outputLabel for="postalCode" value="Postal Name "><span style="color: red;">* </span>:</h:outputLabel>
                            <h:inputText class="form-control" id="postalCode" value="#{employeeController.addressInfo.postalCode}" required="true" requiredMessage="Please enter Postal Code of customer" p:placeholder="Postal Code" />
                            <h:message for="postalCode" style="color: red"/>
                        </h:panelGroup>
                        <h:panelGroup styleClass="col-md-4 form-group" layout="block">
                            <h:outputLabel for="presentAddressDate" value="Present Address Date "><span style="color: red;">* </span>: (MM/DD/YYYY)</h:outputLabel>
                            <b:datepicker mode="popup-icon" class="form-control" id="presentAddressDate" value="#{employeeController.addressInfo.presentAddressDate}"/>
                            <h:message for="presentAddressDate" style="color: red"/>
                        </h:panelGroup>
                    </div>
                </div>
            </div>
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#custInfo"><b>Contact Information</b></a></li>
            </ul>
            <div class="tab-content">
                <div id="home" class="tab-pane fade in active">
                    <div class="row test">
                        <h:panelGroup styleClass="col-md-4 form-group" layout="block">
                            <h:outputLabel for="emailAddress" value="Email Address "><span style="color: red;">* </span>:</h:outputLabel>
                            <h:inputText class="form-control" id="emailAddress" value="#{employeeController.contactInfo.emailAddress}" required="true" requiredMessage="Please enter Email Address" validatorMessage="Invalid Email Format" p:placeholder="Email Address">
                                <f:validateRegex pattern="^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$" />
                            </h:inputText>
                            <h:message for="emailAddress" style="color: red"/>
                        </h:panelGroup>
                        <h:panelGroup styleClass="col-md-4 form-group" layout="block">
                            <h:outputLabel for="mobileNumber" value="Mobile Number "><span style="color: red;">* </span>:</h:outputLabel>
                            <h:inputText class="form-control" id="mobileNumber" value="#{employeeController.contactInfo.mobileNumber}" required="true" requiredMessage="Please enter Mobile Number" p:placeholder="Mobile Number" />
                            <h:message for="mobileNumber" style="color: red"/>
                        </h:panelGroup>
                        <h:panelGroup styleClass="col-md-4 form-group" layout="block">
                            <h:outputLabel for="homeNumber" value="Telephone Number "><span style="color: red;">* </span>:</h:outputLabel>
                            <h:inputText class="form-control" id="homeNumber" value="#{employeeController.contactInfo.homeNumber}" required="true" requiredMessage="Please enter Home Number" p:placeholder="Home Number" />
                            <h:message for="homeNumber" style="color: red"/>
                        </h:panelGroup>
                        <h:panelGroup styleClass="col-md-4 form-group" layout="block">
                            <h:outputLabel for="officeNumber" value="Office Number "><span style="color: red;">* </span>:</h:outputLabel>
                            <h:inputText class="form-control" id="officeNumber" value="#{employeeController.contactInfo.officeNumber}" required="true" requiredMessage="Please enter Office Number" p:placeholder="Office Number" />
                            <h:message for="officeNumber" style="color: red"/>
                        </h:panelGroup>
                    </div>
                </div>
            </div>
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#custInfo"><b>Proof of Document</b></a></li>
            </ul>
            <div class="tab-content">
                <div id="home" class="tab-pane fade in active">
                    <div class="row test">
                        <h:panelGroup styleClass="col-md-4 form-group" layout="block">
                            <h:outputLabel for="documentName1" value="Document Name "><span style="color: red;">* </span>:</h:outputLabel>
                            <h:selectOneMenu class="form-control" id="documentName1" value="#{employeeController.docsProof.documentName}" required="true" requiredMessage="Please enter document name">
                                <f:selectItem itemValue="Passport" itemLabel="Passport"/>
                                <f:selectItem itemValue="Driving License" itemLabel="Driving License"/>
                                <f:selectItem itemValue="Social ID Number" itemLabel="Social ID Number"/>
                            </h:selectOneMenu>
                            <h:message for="documentName1" style="color: red"/>
                        </h:panelGroup>
                        <h:panelGroup styleClass="col-md-4 form-group" layout="block">
                            <h:outputLabel for="documentType1" value="Document Type "><span style="color: red;">* </span>:</h:outputLabel>
                            <h:selectOneMenu class="form-control" id="documentType1" value="#{employeeController.docsProof.documentType}" required="true" requiredMessage="Please enter document type">
                                <f:selectItem itemValue="Address Proof" itemLabel="Address Proof"/>
                                <f:selectItem itemValue="ID Proof" itemLabel="ID Proof"/>
                            </h:selectOneMenu>
                            <h:message for="documentType1" style="color: red"/>
                        </h:panelGroup>
                        <h:panelGroup styleClass="col-md-4 form-group" layout="block">
                            <h:outputLabel for="status1" value="Status "><span style="color: red;">* </span>:</h:outputLabel>
                            <h:selectOneMenu class="form-control" id="status1" value="#{employeeController.docsProof.status}" required="true" requiredMessage="Please enter status">
                                <f:selectItem itemValue="Submitted" itemLabel="Submitted"/>
                                <f:selectItem itemValue="Pending" itemLabel="Pending"/>
                            </h:selectOneMenu>
                            <h:message for="status1" style="color: red"/>
                        </h:panelGroup>
                    </div>
                </div>
            </div>
            <h:panelGroup style="display:block; text-align:center">
                <h:commandButton styleClass="btn btn-primary" action="#{employeeController.executeCreateCustomer()}" value="Create" />
                &nbsp;&nbsp;&nbsp;
                <h:commandButton styleClass="btn btn-primary" type="reset" value="Reset" />
            </h:panelGroup>
        </h:form>
    </ui:define>

</ui:composition>
