<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns="http://www.w3.org/1999/xhtml"
                template="./../WEB-INF/templates/employeeTemplate.xhtml"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://xmlns.jcp.org/jsf/passthrough">

    <ui:define name="title">
        Edit Account Information
    </ui:define>

    <ui:define name="content">
        <h:form>
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#home"><b>Account Information</b></a></li>
            </ul>
            <div class="tab-content">
                <div id="home" class="tab-pane fade in active">
                    <div class="row test">
                        <h:panelGroup styleClass="col-md-4 form-group" layout="block">
                            <h:outputLabel for="accountID" value="Account ID: #{employeeController.accountInfo.id}" />
                            <h:inputHidden id="accountID" value="#{employeeController.accountInfo.id}" />
                        </h:panelGroup>
                        <h:panelGroup styleClass="col-md-4 form-group" layout="block">
                            <h:outputLabel for="creationDate" value="Date of Creation: #{employeeController.accountInfo.creationDate}" ><f:convertDateTime type="date"/></h:outputLabel>
                            <h:inputHidden id="creationDate" value="#{employeeController.accountInfo.creationDate}" ><f:convertDateTime type="date" dateStyle="short"/></h:inputHidden>
                        </h:panelGroup>
                        <h:panelGroup styleClass="col-md-4 form-group" layout="block">
                            <h:outputLabel for="accountNo" value="Account No: #{employeeController.accountInfo.accountNo}" />
                            <h:inputHidden id="accountNo" value="#{employeeController.accountInfo.accountNo}" />
                        </h:panelGroup>
                        <h:panelGroup styleClass="col-md-4 form-group" layout="block">
                            <h:outputLabel for="custID" value="Customer ID: #{employeeController.accountInfo.customerID}" />
                            <h:inputHidden id="custID" value="#{employeeController.accountInfo.customerID}" />
                        </h:panelGroup>
                        <h:panelGroup styleClass="col-md-4 form-group" layout="block">
                            <h:outputLabel for="accountType" value="Account Type "><span style="color: red;">* </span>:</h:outputLabel>
                            <h:selectOneMenu class="form-control" id="accountType" value="#{employeeController.accountInfo.accountType}">
                                <f:selectItem itemValue="Savings Account" itemLabel="Savings Account"/>
                                <f:selectItem itemValue="Current Account" itemLabel="Current Account"/>
                            </h:selectOneMenu>
                            <h:message for="accountType" style="color: red"/>
                        </h:panelGroup>
                        <h:panelGroup styleClass="col-md-4 form-group" layout="block">
                            <h:outputLabel for="accountDesc" value="Account Description: "/>
                            <h:inputText class="form-control" id="accountDesc" value="#{employeeController.accountInfo.accountDescription}" p:placeholder="Account Description" />
                            <h:message for="accountDesc" style="color: red"/>
                        </h:panelGroup>
                        <h:panelGroup styleClass="col-md-4 form-group" layout="block">
                            <h:outputLabel for="currency" value="Currency "><span style="color: red;">* </span>:</h:outputLabel>
                            <h:selectOneMenu class="form-control" id="currency" value="#{employeeController.accountInfo.currency}" required="true" requiredMessage="Please select Currency">
                                <f:selectItem itemValue="INR" itemLabel="INR"/>
                                <f:selectItem itemValue="USD" itemLabel="USD"/>
                                <f:selectItem itemValue="EUR" itemLabel="EUR"/>
                                <f:selectItem itemValue="GBP" itemLabel="GBP"/>
                            </h:selectOneMenu>
                            <h:message for="currency" style="color: red"/>
                        </h:panelGroup>
                        <h:panelGroup styleClass="col-md-4 form-group" layout="block">
                            <h:outputLabel for="balance" value="Available Balance "><span style="color: red;">* </span>:</h:outputLabel>
                            <h:inputText class="form-control" id="balance" value="#{employeeController.accountInfo.availableBalance}" required="true" requiredMessage="Please enter balance amount figure" p:placeholder="Available Balance" />
                            <h:message for="balance" style="color: red"/>
                        </h:panelGroup>
                    </div>
                </div>
            </div>
            <h:panelGroup style="display:block; text-align:center">
                <h:commandButton styleClass="btn btn-primary" action="#{employeeController.executeUpdateAccount()}" value="Update" />
                &nbsp;&nbsp;&nbsp;
                <h:commandButton styleClass="btn btn-primary" type="reset" value="Reset" />
            </h:panelGroup>
        </h:form>
    </ui:define>

</ui:composition>
