<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns="http://www.w3.org/1999/xhtml"
                template="./../WEB-INF/templates/employeeTemplate.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:b="http://bootsfaces.net/ui">

    <ui:define name="title">
        Edit Customer Profile
    </ui:define>

    <ui:define name="content">
        <h:form>
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#home"><b>Customer Information</b></a></li>
            </ul>
            <div class="tab-content">
                <div id="home" class="tab-pane fade in active">
                    <div class="row test">
                        <h:panelGroup styleClass="col-md-4 form-group" layout="block">
                            <h:outputLabel for="custID" value="Customer ID: #{employeeController.custInfo.id}" />
                            <h:inputHidden id="custID" value="#{employeeController.custInfo.id}" />
                        </h:panelGroup>
                        <h:panelGroup styleClass="col-md-4 form-group" layout="block">
                            <h:outputLabel for="creationDate" value="Date of Creation: #{employeeController.custInfo.creationDate}" ><f:convertDateTime type="date"/></h:outputLabel>
                            <h:inputHidden id="creationDate" value="#{employeeController.custInfo.creationDate}" ><f:convertDateTime type="date" dateStyle="short"/></h:inputHidden>
                        </h:panelGroup>
                        <h:panelGroup styleClass="col-md-4 form-group" layout="block">
                            <h:outputLabel for="customerTitle" value="Title "><span style="color: red;">* </span>:</h:outputLabel>
                            <h:selectOneMenu class="form-control" id="customerTitle" value="#{employeeController.custInfo.title}" required="true" requiredMessage="Please enter Title of customer">
                                <f:selectItem itemValue="Mr." itemLabel="Mr."/>
                                <f:selectItem itemValue="Mrs." itemLabel="Mrs."/>
                                <f:selectItem itemValue="Miss." itemLabel="Miss."/>
                            </h:selectOneMenu>
                            <h:message for="customerTitle" style="color: red"/>
                        </h:panelGroup>
                        <h:panelGroup styleClass="col-md-4 form-group" layout="block">
                            <h:outputLabel for="firstName" value="First Name "><span style="color: red;">* </span>:</h:outputLabel>
                            <h:inputText class="form-control" id="firstName" value="#{employeeController.custInfo.firstName}" required="true" requiredMessage="Please enter First Name of customer" />
                            <h:message for="firstName" style="color: red"/>
                        </h:panelGroup>
                        <h:panelGroup styleClass="col-md-4 form-group" layout="block">
                            <h:outputLabel for="middleName" value="Middle Name: "/>
                            <h:inputText class="form-control" id="middleName" value="#{employeeController.custInfo.middleName}"/>
                            <h:message for="middleName" style="color: red"/>
                        </h:panelGroup>
                        <h:panelGroup styleClass="col-md-4 form-group" layout="block">
                            <h:outputLabel for="lastName" value="Last Name "><span style="color: red;">* </span>:</h:outputLabel>
                            <h:inputText class="form-control" id="lastName" value="#{employeeController.custInfo.lastName}" required="true" requiredMessage="Please enter Last Name of customer" />
                            <h:message for="lastName" style="color: red"/>
                        </h:panelGroup>
                        <h:panelGroup styleClass="col-md-4 form-group" layout="block">
                            <h:outputLabel for="relationType" value="Relationship Type "><span style="color: red;">* </span>:</h:outputLabel>
                            <h:selectOneMenu class="form-control" id="relationType" value="#{employeeController.custInfo.relationShipType}" required="true" requiredMessage="Please select Relationship Type of customer">
                                <f:selectItem itemValue="Personal Account" itemLabel="Personal Account"/>
                                <f:selectItem itemValue="Non-Personal Account" itemLabel="Non-Personal Account"/>
                            </h:selectOneMenu>
                            <h:message for="relationType" style="color: red"/>
                        </h:panelGroup>
                        <h:panelGroup styleClass="col-md-4 form-group" layout="block">
                            <h:outputLabel for="branchId" value="Home Branch ID "><span style="color: red;">* </span>:</h:outputLabel>
                            <h:inputText class="form-control" id="branchId" value="#{employeeController.custInfo.branchId}" required="true" requiredMessage="Please enter Branch ID of customer" />
                            <h:message for="branchId" style="color: red"/>
                        </h:panelGroup>
                        <h:panelGroup styleClass="col-md-4 form-group" layout="block">
                            <h:outputLabel for="birthDate" value="Date of Birth "><span style="color: red;">* </span>: (MM/DD/YYYY)</h:outputLabel>
                            <b:datepicker mode="popup-icon" class="form-control" id="birthDate" value="#{employeeController.custInfo.dateOfBirth}"/>
                            <h:message for="birthDate" style="color: red"/>
                        </h:panelGroup>
                    </div>
                </div>
            </div>
            <h:panelGroup style="display:block; text-align:center">
                <h:commandButton styleClass="btn btn-primary" action="#{employeeController.executeUpdateCustomer()}" value="Update" />
                &nbsp;&nbsp;&nbsp;
                <h:commandButton styleClass="btn btn-primary" type="reset" value="Reset" />
            </h:panelGroup>
        </h:form>
    </ui:define>

</ui:composition>
