<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns="http://www.w3.org/1999/xhtml"
                template="./../WEB-INF/templates/employeeTemplate.xhtml"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://xmlns.jcp.org/jsf/passthrough">

    <ui:define name="title">
        Edit Assigned Customer
    </ui:define>

    <ui:define name="content">
        <h:form class="form-horizontal">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#home"><b>Edit Assigned Customer Information</b></a></li>
            </ul>
            <div class="tab-content">
                <div id="home" class="tab-pane fade in active">
                    <div class="row test">
                        <h:panelGroup styleClass="col-md-4 form-group" layout="block">
                            <h:outputLabel for="referenceID" value="Reference ID #{employeeController.assignCustomer.id}" />
                            <h:inputHidden id="referenceID" value="#{employeeController.assignCustomer.id}" />
                        </h:panelGroup>
                        <h:panelGroup styleClass="col-md-4 form-group" layout="block">
                            <h:outputLabel for="custID" value="Customer ID "><span style="color: red;">* </span>:</h:outputLabel>
                            <h:inputText class="form-control" id="custID" value="#{employeeController.assignCustomer.customerID}" required="true" requiredMessage="Please enter Customer ID" p:placeholder="Customer ID" />
                            <h:message for="custID" style="color: red"/>
                        </h:panelGroup>
                        <h:panelGroup styleClass="col-md-4 form-group" layout="block">
                            <h:outputLabel for="custName" value="Customer Name "><span style="color: red;">* </span>:</h:outputLabel>
                            <h:inputText class="form-control" id="custName" value="#{employeeController.assignCustomer.customerName}" required="true" requiredMessage="Please enter Customer Name" p:placeholder="Customer Name" />
                            <h:message for="custName" style="color: red"/>
                        </h:panelGroup>
                    </div>
                </div>
            </div>
            <h:panelGroup style="display:block; text-align:center">
                <h:commandButton styleClass="btn btn-primary" action="#{employeeController.executeUpdateAssignedCustomer()}" value="Save" />
                &nbsp;&nbsp;&nbsp;
                <h:commandButton styleClass="btn btn-primary" type="reset" value="Reset" />
            </h:panelGroup>
        </h:form>
    </ui:define>

</ui:composition>
