<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns="http://www.w3.org/1999/xhtml"
                template="./../WEB-INF/templates/employeeTemplate.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://xmlns.jcp.org/jsf/passthrough">

    <ui:define name="title">
        Perform Transaction
    </ui:define>

    <ui:define name="content">
        <h:form class="form-horizontal">
            <h:panelGroup layout="block" class="form-group">
                <h:inputHidden id="accountID" value="#{employeeController.accountInfo.id}" />
            </h:panelGroup>
            <h:panelGroup layout="block" class="form-group">
                <h:outputLabel for="accountNo" value="Account No: #{employeeController.accountInfo.accountNo}" />
                <h:inputHidden id="accountNo" value="#{employeeController.accountInfo.accountNo}" />
            </h:panelGroup>
            <h:panelGroup layout="block" class="form-group">
                <h:outputLabel for="amtBalance" value="Available Balance: #{employeeController.accountInfo.availableBalance}" />
                <h:inputHidden id="amtBalance" value="#{employeeController.accountInfo.availableBalance}" />
            </h:panelGroup>
            <h:panelGroup layout="block" class="form-group">
                <h:outputLabel for="typeOfTxn" value="Type of Txn "><span style="color: red;">* </span>:</h:outputLabel>
                <h:selectOneMenu class="form-control" id="typeOfTxn" value="#{employeeController.txnByEmp.typeOfTxn}" required="true" requiredMessage="Please select type of txn">
                    <f:selectItem itemValue="C" itemLabel="Credit" />
                    <f:selectItem itemValue="D" itemLabel="Debit" />
                </h:selectOneMenu>
                <h:message for="typeOfTxn" style="color: red"/>
            </h:panelGroup>
            <h:panelGroup layout="block" class="form-group">
                <h:outputLabel for="modeOfTxn" value="Mode of Transaction "><span style="color: red;">* </span>:</h:outputLabel>
                <h:selectOneMenu class="form-control" id="modeOfTxn" value="#{employeeController.txnByEmp.modeOfTxn}" required="true" requiredMessage="Please select mode of txn">
                    <f:selectItem itemValue="ATM Withdrawal" itemLabel="ATM Withdrawal" />
                    <f:selectItem itemValue="RTGS Transfer" itemLabel="RTGS Transfer" />
                </h:selectOneMenu>
                <h:message for="modeOfTxn" style="color: red"/>
            </h:panelGroup>
            <h:panelGroup layout="block" class="form-group">
                <h:outputLabel for="amountOfTxn" value="Amount "><span style="color: red;">* </span>:</h:outputLabel>
                <h:inputText class="form-control" id="amountOfTxn" value="#{employeeController.txnByEmp.amount}" required="true" requiredMessage="Please enter transaction amount" p:placeholder="Transaction Amount"/>
                <h:message for="amountOfTxn" style="color: red"/>
            </h:panelGroup>
            <h:panelGroup style="display:block; text-align:center">
                <h:commandButton styleClass="btn btn-primary" action="#{employeeController.executeTransaction()}" value="Transmit" />
                &nbsp;&nbsp;&nbsp;
                <h:commandButton styleClass="btn btn-primary" type="reset" value="Reset" />
            </h:panelGroup>
        </h:form>
    </ui:define>

</ui:composition>
