<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns="http://www.w3.org/1999/xhtml"
                template="./../WEB-INF/templates/employeeTemplate.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="title">
        Successful Account Creation
    </ui:define>

    <ui:define name="content">
        Account created successfully. The details of Account are as follows:
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#home"><b>Account Information</b></a></li>
        </ul>
        <div class="tab-content">
            <div id="home" class="tab-pane fade in active">
                <div class="row test">
                    <div class="col-md-4">
                        <p>Account ID</p>
                        <p>Account No</p>
                        <p>Customer ID</p>
                        <p>Account Type</p>
                        <p>Currency</p>
                        <p>Available Balance in Account</p>
                    </div>
                    <div class="col-md-4">
                        <p><h:outputText value="#{employeeController.accountInfo.id}"/></p>
                        <p><h:outputText value="#{employeeController.accountInfo.accountNo}"/></p>
                        <p><h:outputText value="#{employeeController.accountInfo.customerID}"/></p>
                        <p><h:outputText value="#{employeeController.accountInfo.accountType}"/></p>
                        <p><h:outputText value="#{employeeController.accountInfo.currency}"/></p>
                        <p><h:outputText value="#{employeeController.accountInfo.availableBalance}"/></p>
                    </div>
                </div>
            </div>
        </div>
    </ui:define>

</ui:composition>
