<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./../WEB-INF/templates/employeeTemplate.xhtml">

    <ui:define name="title">
        Successful Updation of Assigned Customer Information
    </ui:define>

    <ui:define name="content">
        The assigned customer information updated successfully.
    </ui:define>

</ui:composition>
