<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns="http://www.w3.org/1999/xhtml"
                template="./../WEB-INF/templates/employeeTemplate.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="title">
        Assigned Customer's
    </ui:define>

    <ui:define name="content">
        The following customer's are assigned to <b><h:outputText value="#{employeeController.relationshipManagerInfo.title} #{loginController.remoteUser}"/></b> :
        <h:dataTable class="table table-hover table-striped" value="#{employeeController.assignedCustomersList}" var="assignCustomer">
            <h:column>
                <f:facet name="header"><h:outputText value="Customer ID"/></f:facet>
                <h:outputText value="#{assignCustomer.customerID}"></h:outputText>
            </h:column>
            <h:column>
                <f:facet name="header"><h:outputText value="Customer Name"/></f:facet>
                <h:outputText value="#{assignCustomer.customerName}"/>
            </h:column>
            <h:column>
                <f:facet name="header"><h:outputText value="Date of Assignment"/></f:facet>
                <h:outputText value="#{assignCustomer.creationDate}">
                    <f:convertDateTime type="date"/>
                </h:outputText>
            </h:column>
            <h:column>
                <h:form><h:commandLink action="#{employeeController.doShowAssignedCustomer(assignCustomer)}" value="Show"/></h:form>
            </h:column>
            <h:column>
                <h:form><h:commandLink action="#{employeeController.doUpdateAssignedCustomer(assignCustomer)}" value="Update"/></h:form>
            </h:column>
            <h:column>
                <h:form><h:commandLink action="#{employeeController.doDeleteAssignCustomer(assignCustomer)}" value="Delete"/></h:form>
            </h:column>
        </h:dataTable>
    </ui:define>

</ui:composition>
