<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns="http://www.w3.org/1999/xhtml"
                template="./../WEB-INF/templates/employeeTemplate.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="title">
        Profile of Customer
    </ui:define>

    <ui:define name="content">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#home"><b>Customer Information</b></a></li>
        </ul>
        <div class="tab-content">
            <div id="home" class="tab-pane fade in active">
                <div class="row test">
                    <div class="col-md-4">
                        <p>Customer ID</p>
                        <p>Customer Name</p>
                        <p>Relationship Type</p>
                        <p>Date of Birth</p>
                        <p>Home Branch</p>
                        <p>Date of Creation</p>
                    </div>
                    <div class="col-md-4">
                        <p><h:outputText value="#{employeeController.custInfo.id}"/></p>
                        <p>
                            <h:outputText value="#{employeeController.custInfo.title}"/><h:outputText value=" "/>
                            <h:outputText value="#{employeeController.custInfo.firstName}"/><h:outputText value=" "/>
                            <h:outputText value="#{employeeController.custInfo.lastName}"/>
                        </p>
                        <p><h:outputText value="#{employeeController.custInfo.relationShipType}"/></p>
                        <p><h:outputText value="#{employeeController.custInfo.dateOfBirth}"><f:convertDateTime type="date"/></h:outputText></p>
                        <p><h:outputText value="#{employeeController.custInfo.branchId}"/></p>
                        <p><h:outputText value="#{employeeController.custInfo.creationDate}"><f:convertDateTime type="date"/></h:outputText></p> 
                    </div>
                </div>
            </div>
        </div>
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#addressInfo"><b>Address Information</b></a></li>
        </ul>
        <div class="tab-content">
            <div id="addressInfo" class="tab-pane fade in active">
                <div class="row test">
                    <div class="col-md-4">
                        <p>House No</p>
                        <p>House Name</p>
                        <p>Building No</p>
                        <p>Street Name</p>
                        <p>City Name</p>
                        <p>Town Name</p>
                        <p>Country Name</p>
                        <p>Postal Code</p>
                        <p>Present Address Date</p>
                    </div>
                    <div class="col-md-4">
                        <p><h:outputText value="#{employeeController.addressInfo.houseNo}"/></p>
                        <p><h:outputText value="#{employeeController.addressInfo.houseName}"/></p>
                        <p><h:outputText value="#{employeeController.addressInfo.buildingNo}"/></p>
                        <p><h:outputText value="#{employeeController.addressInfo.streetName}"/></p>
                        <p><h:outputText value="#{employeeController.addressInfo.cityName}"/></p>
                        <p><h:outputText value="#{employeeController.addressInfo.townName}"/></p>
                        <p><h:outputText value="#{employeeController.addressInfo.countryName}"/></p>
                        <p><h:outputText value="#{employeeController.addressInfo.postalCode}"/></p>
                        <p><h:outputText value="#{employeeController.addressInfo.presentAddressDate}"><f:convertDateTime type="date"/></h:outputText></p>
                    </div>
                </div>
            </div>
        </div>
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#addressInfo"><b>Contact Information</b></a></li>
        </ul>
        <div class="tab-content">
            <div id="addressInfo" class="tab-pane fade in active">
                <div class="row test">
                    <div class="col-md-4">
                        <p>Email Address</p>
                        <p>Mobile Number</p>
                        <p>Telephone Number</p>
                        <p>Office Number</p>
                    </div>
                    <div class="col-md-4">
                        <p><h:outputText value="#{employeeController.contactInfo.emailAddress}"/></p>
                        <p><h:outputText value="#{employeeController.contactInfo.mobileNumber}"/></p>
                        <p><h:outputText value="#{employeeController.contactInfo.homeNumber}"/></p>
                        <p><h:outputText value="#{employeeController.contactInfo.officeNumber}"/></p>
                    </div>
                </div>
            </div>
        </div>
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#addressInfo"><b>Documents Submitted</b></a></li>
        </ul>
        <div class="tab-content">
            <div id="addressInfo" class="tab-pane fade in active">
                <div class="row test">
                    <div class="col-md-4">
                        <p>Document Name</p>
                        <p>Document Type</p>
                        <p>Status</p>
                        <p>Submission Date</p>
                    </div>
                    <div class="col-md-4">
                        <p><h:outputText value="#{employeeController.docsProof.documentName}"/></p>
                        <p><h:outputText value="#{employeeController.docsProof.documentType}"/></p>
                        <p><h:outputText value="#{employeeController.docsProof.status}"/></p>
                        <p><h:outputText value="#{employeeController.docsProof.submittedDate}"><f:convertDateTime type="date"/></h:outputText></p>
                    </div>
                </div>
            </div>
        </div>
    </ui:define>

</ui:composition>
