<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns="http://www.w3.org/1999/xhtml"
                template="./../WEB-INF/templates/employeeTemplate.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="title">
        View Account Summary
    </ui:define>

    <ui:define name="content">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#home"><b>Account Information</b></a></li>
        </ul>
        <div class="tab-content">
            <div id="home" class="tab-pane fade in active">
                <div class="row test">
                    <div class="col-md-4">
                        <p>Account ID</p>
                        <p>Account No</p>
                        <p>Customer ID</p>
                        <p>Account Type</p>
                        <p>Currency</p>
                        <p>Available Balance in Account</p>
                        <p>Date of Account Creation</p>
                    </div>
                    <div class="col-md-4">
                        <p><h:outputText value="#{employeeController.accountInfo.id}"/></p>
                        <p><h:outputText value="#{employeeController.accountInfo.accountNo}"/></p>
                        <p><h:outputText value="#{employeeController.accountInfo.customerID}"/></p>
                        <p><h:outputText value="#{employeeController.accountInfo.accountType}"/></p>
                        <p><h:outputText value="#{employeeController.accountInfo.currency}"/></p>
                        <p><h:outputText value="#{employeeController.accountInfo.availableBalance}"/></p>
                        <p><h:outputText value="#{employeeController.accountInfo.creationDate}"><f:convertDateTime type="date"/></h:outputText></p> 
                    </div>
                </div>
            </div>
        </div>
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#txns"><b>Transactions Summary in Account</b></a></li>
        </ul>
        <div class="tab-content">
            <div id="txns" class="tab-pane fade in active">
                <div class="row test">
                    <h:dataTable class="table table-hover table-striped" value="#{employeeController.transactionList}" var="transaction">
                        <h:column>
                            <f:facet name="header"><h:outputText value="Customer ID"/></f:facet>
                            <h:outputText value="#{transaction.id}"></h:outputText>
                        </h:column>
                        <h:column>
                            <f:facet name="header"><h:outputText value="Account Number"/></f:facet>
                            <h:outputText value="#{transaction.accountNo}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header"><h:outputText value="Mode of Txn"/></f:facet>
                            <h:outputText value="#{transaction.modeOfTxn}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header"><h:outputText value="Type of txn"/></f:facet>
                            <h:outputText value="#{transaction.typeOfTxn}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header"><h:outputText value="Amount"/></f:facet>
                            <h:outputText value="#{transaction.amount}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header"><h:outputText value="Date of Txn"/></f:facet>
                            <h:outputText value="#{transaction.txnDate}">
                                <f:convertDateTime type="date"/>
                            </h:outputText>
                        </h:column>
                    </h:dataTable>
                </div>
            </div>
        </div>
    </ui:define>

</ui:composition>
