<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns="http://www.w3.org/1999/xhtml"
                template="./../WEB-INF/templates/employeeTemplate.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="title">
        Assigned Customer Info
    </ui:define>

    <ui:define name="content">
        The information of Assigned Customer under manager <b><h:outputText value="#{employeeController.relationshipManagerInfo.title} #{loginController.remoteUser}"/></b>
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#home"><b>Basic Customer Information</b></a></li>
        </ul>
        <div class="tab-content">
            <div id="home" class="tab-pane fade in active">
                <div class="row test">
                    <div class="col-md-4">
                        <p>Reference ID</p>
                        <p>Customer ID</p>
                        <p>Customer Name</p>
                        <p>Date of Assignment</p>
                    </div>
                    <div class="col-md-4">
                        <p><h:outputText value="#{employeeController.assignCustomer.id}"/></p>
                        <p><h:outputText value="#{employeeController.assignCustomer.customerID}"/></p>
                        <p><h:outputText value="#{employeeController.assignCustomer.customerName}"/></p>
                        <p><h:outputText value="#{employeeController.assignCustomer.creationDate}"><f:convertDateTime type="date"/></h:outputText></p>
                    </div>
                </div>
            </div>
        </div>
    </ui:define>

</ui:composition>
