<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./../WEB-INF/templates/secureTemplate.xhtml">

    <ui:define name="title">
        Error
    </ui:define>

    <ui:define name="content">
        Sorry!! Available Balance in account is not sufficient. Please contact bank representative for this.
    </ui:define>

</ui:composition>
