<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns="http://www.w3.org/1999/xhtml"
                template="./../WEB-INF/templates/secureTemplate.xhtml">

    <ui:define name="title">
        Error
    </ui:define>

    <ui:define name="content">
        <b style="color: red">Sorry!! No account found for performing transaction.</b>
        <br/><br/>
        Please contact Bank representive for account creation.
    </ui:define>

</ui:composition>
