<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns="http://www.w3.org/1999/xhtml"
                template="./../WEB-INF/templates/secureTemplate.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://xmlns.jcp.org/jsf/passthrough">

    <ui:define name="title">
        Perform Transaction
    </ui:define>

    <ui:define name="content">
        <h:form class="form-horizontal">
            <h:panelGroup layout="block" class="form-group">
                <h:inputHidden id="accountID" value="#{customerInfoController.accountInfo.id}" />
            </h:panelGroup>
            <h:panelGroup layout="block" class="form-group">
                <h:outputLabel for="accountNo" value="Account No: #{customerInfoController.accountInfo.accountNo}" />
                <h:inputHidden id="accountNo" value="#{customerInfoController.accountInfo.accountNo}" />
            </h:panelGroup>
            <h:panelGroup layout="block" class="form-group">
                <h:outputLabel for="amtBalance" value="Available Balance: #{customerInfoController.accountInfo.availableBalance}" />
                <h:inputHidden id="amtBalance" value="#{customerInfoController.accountInfo.availableBalance}" />
            </h:panelGroup>
            <h:panelGroup layout="block" class="form-group">
                <h:outputLabel for="modeOfTxn" value="Mode of Transaction "><span style="color: red;">* </span>:</h:outputLabel>
                <h:selectOneMenu class="form-control" id="modeOfTxn" value="#{customerInfoController.txnByCust.modeOfTxn}" required="true" requiredMessage="Please select mode of txn">
                    <f:selectItem itemValue="ATM Withdrawal" itemLabel="ATM Withdrawal" />
                    <f:selectItem itemValue="RTGS Transfer" itemLabel="RTGS Transfer" />
                </h:selectOneMenu>
                <h:message for="modeOfTxn" style="color: red"/>
            </h:panelGroup>
            <h:panelGroup layout="block" class="form-group">
                <h:outputLabel for="amountOfTxn" value="Amount "><span style="color: red;">* </span>:</h:outputLabel>
                <h:inputText class="form-control" id="amountOfTxn" value="#{customerInfoController.txnByCust.amount}" required="true" requiredMessage="Please enter transaction amount" p:placeholder="Transaction Amount"/>
                <h:message for="amountOfTxn" style="color: red"/>
            </h:panelGroup>
            <h:panelGroup style="display:block; text-align:center">
                <h:commandButton styleClass="btn btn-primary" action="#{customerInfoController.executeTransaction()}" value="Transmit" />
                &nbsp;&nbsp;&nbsp;
                <h:commandButton styleClass="btn btn-primary" type="reset" value="Reset" />
            </h:panelGroup>
        </h:form>
    </ui:define>

</ui:composition>
