<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns="http://www.w3.org/1999/xhtml"
                template="./../WEB-INF/templates/secureTemplate.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="title">
        Successful Transaction
    </ui:define>

    <ui:define name="content">
        Successfully Transaction completed. The details of Transactions are as follows:
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#home"><b>Transaction Summary</b></a></li>
        </ul>
        <div class="tab-content">
            <div id="home" class="tab-pane fade in active">
                <div class="row test">
                    <div class="col-md-4">
                        <p>Customer ID :</p>
                        <p>Account No :</p>
                        <p>Account Type :</p>
                        <p>Transaction Amount :</p>
                        <p>Total Available Balance :</p>
                    </div>
                    <div class="col-md-4">
                        <p><h:outputText value="#{customerInfoController.customer.id}"/></p>
                        <p><h:outputText value="#{customerInfoController.newAccountInfo.accountNo}"/></p>
                        <p><h:outputText value="#{customerInfoController.newAccountInfo.accountType}"/></p>
                        <p>
                            <h:outputText value="#{customerInfoController.newAccountInfo.currency}"/><h:outputText value=" "/>
                            <h:outputText value="#{customerInfoController.newTransaction.amount}"/>
                        </p>
                        <p>
                            <h:outputText value="#{customerInfoController.newAccountInfo.currency}"/><h:outputText value=" "/>
                            <h:outputText value="#{customerInfoController.newAccountInfo.availableBalance}"/>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </ui:define>

</ui:composition>
