<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns="http://www.w3.org/1999/xhtml"
                template="./../WEB-INF/templates/secureTemplate.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="title">
        Account Information of Customer
    </ui:define>

    <ui:define name="content">
        <c:choose>
            <c:when test="#{customerInfoController.accountInfo == null}">
                <b style="color: red">Sorry!! No account details found for your customer login.</b>
            </c:when>
            <c:otherwise>
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#home"><b>Account Information</b></a></li>
                </ul>
                <div class="tab-content">
                    <div id="home" class="tab-pane fade in active">
                        <div class="row test">
                            <div class="col-md-4">
                                <p>Customer ID</p>
                                <p>Customer Name</p>
                                <p>Account Number</p>
                                <p>Account Type</p>
                                <p>Account Currency</p>
                                <p>Available Balance</p>
                            </div>
                            <div class="col-md-4">
                                <p><h:outputText value="#{customerInfoController.customer.id}"/></p>
                                <p>
                                    <h:outputText value="#{customerInfoController.customer.title}"/><h:outputText value=" "/>
                                    <h:outputText value="#{customerInfoController.customer.firstName}"/><h:outputText value=" "/>
                                    <h:outputText value="#{customerInfoController.customer.lastName}"/>
                                </p>
                                <p><h:outputText value="#{customerInfoController.accountInfo.accountNo}"/></p>
                                <p><h:outputText value="#{customerInfoController.accountInfo.accountType}"/></p>
                                <p><h:outputText value="#{customerInfoController.accountInfo.currency}"/></p>
                                <p>
                                    <h:outputText value="#{customerInfoController.accountInfo.currency}"/><h:outputText value=" "/>
                                    <h:outputText value="#{customerInfoController.accountInfo.availableBalance}"/>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </c:otherwise>
        </c:choose>
        <h:panelGroup layout="block" class="container">

            <h:panelGroup layout="block" 
                          class="alert alert-warning alert-dismissible"
                          rendered="#{not facesContext.validationFailed and not empty facesContext.messageList}">
                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h:messages showDetail="false" globalOnly="true" showSummary="true"/>
            </h:panelGroup>

            <h:messages showDetail="true" errorStyle="color: red" warnStyle="color: orange"
                        infoStyle="color: blue" globalOnly="true" showSummary="true"/>

        </h:panelGroup>
    </ui:define>
</ui:composition>
