<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns="http://www.w3.org/1999/xhtml"
                template="./../WEB-INF/templates/secureTemplate.xhtml"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html">

    <ui:define name="title">
        View Account's of Customer
    </ui:define>

    <ui:define name="content">
        <h:dataTable class="table table-hover table-striped" value="#{customerInfoController.accountList}" var="account">
            <h:column>
                <f:facet name="header"><h:outputText value="Account ID"/></f:facet>
                <h:outputText value="#{account.id}"></h:outputText>
            </h:column>
            <h:column>
                <f:facet name="header"><h:outputText value="Account Number"/></f:facet>
                <h:outputText value="#{account.accountNo}"/>
            </h:column>
            <h:column>
                <f:facet name="header"><h:outputText value="Customer ID"/></f:facet>
                <h:outputText value="#{account.customerID}"></h:outputText>
            </h:column>
            <h:column>
                <f:facet name="header"><h:outputText value="Account Type"/></f:facet>
                <h:outputText value="#{account.accountType}"/>
            </h:column>
            <h:column>
                <h:form><h:commandLink action="#{customerInfoController.doShowAccountInfo(account)}" value="Show Account Details"/></h:form>
            </h:column>
        </h:dataTable>
    </ui:define>

</ui:composition>
