<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns="http://www.w3.org/1999/xhtml"
                template="./../WEB-INF/templates/profileTemplate.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="title">
        Profile of Customer
    </ui:define>

    <ui:define name="custID"><h:outputText value="#{customerInfoController.customer.id}"/></ui:define>
    <ui:define name="custName">
        <h:outputText value="#{customerInfoController.customer.title}"/><h:outputText value=" "/>
        <h:outputText value="#{customerInfoController.customer.firstName}"/><h:outputText value=" "/>
        <h:outputText value="#{customerInfoController.customer.lastName}"/>
    </ui:define>
    <ui:define name="custRelationType"><h:outputText value="#{customerInfoController.customer.relationShipType}"/></ui:define>
    <ui:define name="custDOB"><h:outputText value="#{customerInfoController.customer.dateOfBirth}"><f:convertDateTime type="date"/></h:outputText></ui:define>
    <ui:define name="custHomeBranch"><h:outputText value="#{customerInfoController.customer.branchId}"/></ui:define>
    <ui:define name="creationDate"><h:outputText value="#{customerInfoController.customer.creationDate}"><f:convertDateTime type="date"/></h:outputText></ui:define>
    
    <ui:define name="custHouseNo"><h:outputText value="#{customerInfoController.addressInfo.houseNo}"/></ui:define>
    <ui:define name="custHouseName"><h:outputText value="#{customerInfoController.addressInfo.houseName}"/></ui:define>
    <ui:define name="custBuildingNo"><h:outputText value="#{customerInfoController.addressInfo.buildingNo}"/></ui:define>
    <ui:define name="streetName"><h:outputText value="#{customerInfoController.addressInfo.streetName}"/></ui:define>
    <ui:define name="custCityName"><h:outputText value="#{customerInfoController.addressInfo.cityName}"/></ui:define>
    <ui:define name="custTownName"><h:outputText value="#{customerInfoController.addressInfo.townName}"/></ui:define>
    <ui:define name="custCountryName"><h:outputText value="#{customerInfoController.addressInfo.countryName}"/></ui:define>
    <ui:define name="custPostalCode"><h:outputText value="#{customerInfoController.addressInfo.postalCode}"/></ui:define>
    <ui:define name="presentAddDate"><h:outputText value="#{customerInfoController.addressInfo.presentAddressDate}"><f:convertDateTime type="date"/></h:outputText></ui:define>
    
    <ui:define name="email"><h:outputText value="#{customerInfoController.contactInfo.emailAddress}"/></ui:define>
    <ui:define name="mobile"><h:outputText value="#{customerInfoController.contactInfo.mobileNumber}"/></ui:define>
    <ui:define name="telephone"><h:outputText value="#{customerInfoController.contactInfo.homeNumber}"/></ui:define>
    <ui:define name="officeNo"><h:outputText value="#{customerInfoController.contactInfo.officeNumber}"/></ui:define>
    
</ui:composition>
