<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      lang="en">
    <h:head>
        <title>Nexus Banking Group</title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <h:outputStylesheet library="css" name="indexCSS.css"/>
        <h:outputScript library="js" name="indexScript.js"/>
    </h:head>
    <h:body id="myPage">
        <h:form>
            <nav class="navbar navbar-default navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span> 
                        </button>
                        <a class="navbar-brand" href="#">Logo</a>
                    </div>
                    <div class="collapse navbar-collapse" id="myNavbar">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="#about">ABOUT</a></li>
                            <li><a href="#services">SERVICES</a></li>
                            <li><a href="#offers">OFFERS</a></li>
                            <li><a href="#contact">CONTACT</a></li>
                            <li><h:commandLink action="#{emailController.redirectSubscribe()}" value="SUBSCRIBE"/></li>
                            <li><h:commandLink action="#{loginController.redirectLogin()}" value="LOGIN"/></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </h:form>
        <div class="jumbotron text-center">
            <h1>NEXUS</h1>
            <p>Banking Group</p>
            <p>We specialize in Private Banking</p>
            <!--form class="form-inline">
                <input type="email" class="form-control" size="50" placeholder="Email Address"/>
                <button type="button" class="btn btn-danger">Subscribe</button>
            </form-->
        </div>
        <div id="about" class="container-fluid">
            <div class="row">
                <div class="col-sm-8">
                    <h2>About Company</h2>
                    <h4>The bank for a changing world!!</h4> 
                    <p>We have the largest retail and commercial banking
                        group here in the United States.Our head office is in New York. We have the largest network here and also have branches in United States.
                        We have 16 million customers which include both personal and business customers. We provide online banking and telephone banking services for our customers. Our largest ATMs network offers round the clock service.
                        Retail banking also operates 24X7 for sales and servicing for the customers.</p>
                    <button class="btn btn-default btn-lg">Get in Touch</button>
                </div>
                <div class="col-sm-4">
                    <span class="glyphicon glyphicon-signal logo"></span>
                </div>
            </div>
        </div>
        <div class="container-fluid bg-grey">
            <div class="row">
                <div class="col-sm-4">
                    <span class="glyphicon glyphicon-globe logo"></span> 
                </div>
                <div class="col-sm-8">
                    <h2>Our Values</h2>
                    <p><strong>MISSION:</strong> To emerge as a ‘Preferred Bank’ by pursuing global benchmarks in profitability, operational efficiency, asset quality, risk management and expanding the global reach.</p> 
                    <p><strong>VISION:</strong> To provide quality banking services with good customer care, create value for all stakeholders and continue as a responsive corporate social citizen.</p>
                </div>
            </div>
        </div>
        <div id="services" class="container-fluid text-center">
            <h2>SERVICES</h2>
            <h4>What we offer</h4>
            <br></br>
            <div class="row">
                <div class="col-sm-4">
                    <span class="glyphicon glyphicon-send logo-small"></span>
                    <h4>BANK ONLINE</h4>
                    <p>Manage your finances from the comfort of your mouse - anytime, anywhere</p>
                </div>
                <div class="col-sm-4">
                    <span class="glyphicon glyphicon-usd logo-small"></span>
                    <h4>MONEY</h4>
                    <p>Safe money transactions and exciting offers</p>
                </div>
                <div class="col-sm-4">
                    <span class="glyphicon glyphicon-lock logo-small"></span>
                    <h4>SAFE DEPOSIT LOCKER</h4>
                    <p>With rising security concerns, we provide high tech and world class locker system</p>
                </div>
            </div>
            <br><br></br></br>
            <div class="row">
                <div class="col-sm-4">
                    <span class="glyphicon glyphicon-phone logo-small"></span>
                    <h4>BANK WITH YOUR PHONE</h4>
                    <p>Your phone is now your Bank! Experience total control and convenience with our range of mobile services</p>
                </div>
                <div class="col-sm-4">
                    <span class="glyphicon glyphicon-certificate logo-small"></span>
                    <h4>CERTIFIED</h4>
                    <p>We are ISO certified bank with excellent security norms</p>
                </div>
                <div class="col-sm-4">
                    <span class="glyphicon glyphicon-user logo-small"></span>
                    <h4>BANK IN PERSON</h4>
                    <p>Wherever you are, our bank is always accessible</p>
                </div>
            </div>
        </div>
        <div class="container-fluid text-center bg-grey">
            <h2>What our customers say</h2>
            <div id="myCarousel" class="carousel slide text-center" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>
                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <h4>"This bank is the best. I am so happy with the result!"<br></br><span style="font-style:normal;">Michael Roe, Vice President, Comment Box</span></h4>
                    </div>
                    <div class="item">
                        <h4>"One word... WOW!!"<br></br><span style="font-style:normal;">John Doe, Salesman, Rep Inc</span></h4>
                    </div>
                    <div class="item">
                        <h4>"Could I... BE any more happy with this bank?"<br></br><span style="font-style:normal;">Chandler Bing, Actor, FriendsAlot</span></h4>
                    </div>
                </div>
                <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <div class="container-fluid" id="offers">
            <div class="text-center">
                <h2>Range of Cards</h2>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="panel panel-default text-center">
                        <div class="panel-heading">
                            <h3>JetPrivilege Bank World</h3>
                        </div>
                        <div class="panel-body">
                            <p><strong>The best airline co-brand offering exclusive travel privileges. Now Fly FREE Faster</strong></p>
                            <p>Welcome Benefit of up to <strong>10,000 Bonus JPMiles and one way base fare waived </strong>Jet Airways ticket</p>
                            <p>Earn 6 JPMiles for every Rs. 150 spent and 18 JPMiles on every flight booked on www.jetairways.com</p>
                            <p>Dedicated Check-in with 10 kg additional baggage allowance</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="panel panel-default text-center">
                        <div class="panel-heading">
                            <h3>Platinum Times Card</h3>
                        </div>
                        <div class="panel-body">
                            <p><strong>Great entertainment card with flat 25% off on movie tickets and up to 20% off on dining, 365 days of the year.</strong></p>
                            <p>25% off on movies and up to 20% off on dining. (at participating outlets)</p>
                            <p>Bouquet of discount vouchers as welcome gift</p>
                            <p>3 Reward Points (RP) on Rs. 150 spent. 10 RP on dining spends on weekdays (Mon-Fri)</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="panel panel-default text-center">
                        <div class="panel-heading">
                            <h3>Diners Club Black</h3>
                        </div>
                        <div class="panel-body">
                            <p><strong>Best International Credit Card with exclusive life style benefits.</strong></p>
                            <p>Gain access to select Golf Clubs in India as Green Fee player</p>
                            <p>Earn Rs 750 Travel Vouchers for every 1000 Reward Points earned.</p>
                            <p>Redeem for Airline Tickets, Hotels at our Travel and Entertainment portal</p>
                            <p>Earn 8 JPMiles for every Rs. 150 spent and 3X JPMiles on every flight booked on www.jetairways.com</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="contact" class="container-fluid bg-grey">
            <h2 class="text-center">CONTACT</h2>
            <div class="row">
                <div class="col-sm-4">
                    <p><span class="glyphicon glyphicon-map-marker"></span><strong> Visit us personally at:</strong></p>
                    <p>Nexus Head Office</p>
                    <p>3rd floor, The Heritage Towers,</p>
                    <p>No 1243, St.Winston Street, </p>
                    <p>Chicago, US</p>
                </div>
                <div class="col-sm-4">
                    <p><span class="glyphicon glyphicon-phone"></span> <strong>Give us a Call:</strong></p>
                    <p><strong>Phone: </strong>+44(0)20 7601 4777</p>
                    <p><strong>Manager(Head Office):</strong> +44(0)20 7601 4867</p>
                    <p><strong>Administrator:</strong>&nbsp; &nbsp; &nbsp;  +44(0)41 3277 9102</p>
                </div>
                <div class="col-sm-4">
                    <p><span class="glyphicon glyphicon-envelope"></span> <b>Alternative Contact Way</b></p>
                    <p><strong>Phone:</strong>+44(0)20 7601 4347</p>
                    <p><strong>FAX:</strong>+44(0)20 7601 5460</p>
                    <p><strong>Email:</strong>enquiries@nbgroup.co.us</p>
                </div>
            </div>
        </div>
        <footer class="container-fluid text-center">
            <a href="#myPage" title="To Top">
                <span class="glyphicon glyphicon-chevron-up"></span>
            </a>
            <p>&copy; Copyrights Reserved by Illinois Institute of Technology made by Dhananjay</p> 
        </footer>
    </h:body>
</html>

