<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./WEB-INF/templates/publicTemplates.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://xmlns.jcp.org/jsf/passthrough">

    <ui:define name="title">
        Please sign in
    </ui:define>

    <ui:define name="content">
        <h:form class="form-horizontal">
            <h:panelGroup layout="block" class="form-group">
                <h:outputLabel for="j_username" styleClass="control-label col-sm-2" value="Username :"/>
                <div class="col-sm-10">
                    <h:inputText id="j_username" class="form-control" value="#{loginController.username}" p:placeholder="Enter Username"/>
                    <h:message for="j_username" style="color: red" />
                </div>  
            </h:panelGroup>
            <h:panelGroup layout="block" class="form-group">
                <h:outputLabel for="j_password" styleClass="control-label col-sm-2" value="Password :"/>
                <div class="col-sm-10">
                    <h:inputSecret id="j_password" class="form-control" value="#{loginController.password}" p:placeholder="Enter Password"/>
                    <h:message for="j_password" style="color: red" />
                </div>
            </h:panelGroup>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <h:commandButton class="btn btn-primary" action="#{loginController.doLogin()}" value="Login"/>
                </div>
            </div>
        </h:form>
    </ui:define>

</ui:composition>
