<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      lang="en">
    <h:head>
        <title>Nexus Banking Group</title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <h:outputStylesheet library="css" name="indexCSS.css"/>
        <h:outputScript library="js" name="indexScript.js"/>
    </h:head>
    <h:body id="myPage">
        <h:form>
            <nav class="navbar navbar-default navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span> 
                        </button>
                        <a class="navbar-brand" href="#">Logo</a>
                    </div>
                    <div class="collapse navbar-collapse" id="myNavbar">
                        <ul class="nav navbar-nav navbar-right">
                            <li><h:commandLink action="#{emailController.redirectToIndexPage()}" styleClass="glyphicon glyphicon-home" value="HOME"/></li>
                            <li><h:commandLink action="#{emailController.redirectSubscribe()}" styleClass="glyphicon glyphicon-envelope" value="SUBSCRIBE"/></li>
                            <li><h:commandLink action="#{loginController.redirectLogin()}" styleClass="glyphicon glyphicon-log-in" value="LOGIN"/></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </h:form>
        <div class="jumbotron text-center">
            <h1>NEXUS</h1>
            <p>Banking Group</p>
            <p>We specialize in Private Banking</p>
        </div>
        <div id="subscribe" class="container-fluid text-center bg-grey">
            <p>Subscription mail sent successfully on mail address ID: <b><h:outputText value="#{emailController.emailAddress}"/></b></p>
        </div>
        <footer class="container-fluid text-center">
            <a href="#myPage" title="To Top">
                <span class="glyphicon glyphicon-chevron-up"></span>
            </a>
            <p>&copy; Copyrights Reserved by Illinois Institute of Technology made by Dhananjay</p> 
        </footer>
    </h:body>
</html>

